.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
    border-radius: 999px;
}

input{
    outline-width: 0;
    border: none;
    margin: 0 10px;
    border-radius: 999px; 
    background-color: #eff2f5;
}

.habilidad-uso{
    background-color: #D3DFFE;
    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.habilidad-disponibles{
    background-color: #FEE4BD;
    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;  
}

.habilidad-no-disponibles{
    background-color: #E1FFBD;
    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    align-content: center; 
}

.subtitulo-uso {
    color: #6f8de0;
    display: block;
    width: 400px;
}

.subtitulo-disp {
    color: #dfa656;
    display: block;
    width: 400px;
}

.subtitulo-no-disp {
    color: #96cc54;
    display: block;
    width: 400px;
}

.habilidad-uso .extremos {
    display: flex;
    margin: auto;
    justify-content: center;
}

.contenedor {
    width: 400px;
    margin: 0 auto;
}

.contenedor-primario {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}